build*/
debug/
release/
runtime_test_binaries/
test/python/treelite_generated_code
.vscode/
*.so
libtreebeard-runtime.so.*
*.treebeard-globals.json
*.pyc
*.stats.csv
*.aux
*.log
*.gz
docs/MICRO*2022/*.pdf